<h1>Awaiting challenge</h1>

<div id="device-fingerprint" class="hidden">
  <!-- Spreedly injects content into this div,
        do not nest the challenge div inside of it -->
</div>
<div id="challenge-modal" class="hidden">
  <div id="challenge">
  </div>
</div>

<script>
  var lifecycle = new Spreedly.ThreeDS.Lifecycle({
    environmentKey: "<%= ENV.fetch("ENV_KEY") %>",
    // The environmentKey field is required, but if omitted, you will receive a console warning message and the transaction will still succeed.

    hiddenIframeLocation: 'device-fingerprint',
    // The DOM node that you'd like to inject hidden iframes

    challengeIframeLocation: 'challenge',
    // The DOM node that you'd like to inject the challenge flow

    transactionToken: "<%= @transaction_token %>",
    // transactionToken: "tok_threeDSecure2Required",
    // The token for the transaction - used to poll for state

    challengeIframeClasses: 'challenge',
    // The css classes that you'd like to apply to the challenge iframe.
    //
    // Note: This is where you'll change the height and width of the challenge
    //       iframe. You'll need to match the height and width option that you
    //       selected when collecting browser data with `Spreedly.ThreeDS.serialize`.
    //       For instance if you selected '04' for browserSize you'll need to have a
    //       CSS class that has width and height of 600px by 400px.
  })

  console.log('-------L I F E C Y C L E--------', lifecycle)

  //Define:
  var statusUpdates = function(event) {
    console.log('U P D A T I N G    S T A T U S', event)
    console.log(event.context)
    if (event.action === 'succeeded') {

      console.log('SUCCEEDED => finish your checkout and redirect to success page')
      // finish your checkout and redirect to success page

    } else if (event.action === 'error') {
      console.log('ERROR => present an error to the user to retry')
      // present an error to the user to retry

    } else if (event.action === 'challenge') {
      console.log('CHALLENGE => Show your modal containing the div provided in `challengeIframeLocation` when')
      // Show your modal containing the div provided in `challengeIframeLocation` when
      // creating the lifecycle event.
      //
      //
      document.getElementById('challenge-modal').classList.remove('hidden');
    } else if (event.action === 'trigger-completion') {
      console.log('TRIGGER-COMPLETION => make a request to your backend to do an authenticated call to Spreedly to complete the request')

      // 1. make a request to your backend to do an authenticated call to Spreedly to complete the request
      //    The completion call is `https://core.spreedly.com/v1/transactions/[transaction-token]/complete.json (or .xml)`
      // 2a. if the transaction is marked as "succeeded" finish your checkout and redirect to success page
      // 2b. if the transaction is marked "pending" you'll need to call finalize `event.finalize(transaction)` with the transaction data from the authenticated completion call.

      // This is an example of the authenticated call that you'd make
      // to your service.

      ////////
      // fetch(`https://your-service/complete/${purchaseToken}.json`, { method: 'POST' })
      //   .then(response => response.json())
      //   .then((data) => {
      //     if (data.state === 'succeeded') {

      //       // finish your checkout and redirect to success page

      //     }

      //     if (data.state === 'pending') {
      //       event.finalize(data);
      //     }
      // })
      ////////
    }
  }

  //Set:
  Spreedly.on('3ds:status', statusUpdates)

  lifecycle.start()
</script>
