<h1>Test 3DS</h1>
<h4>Stripe Test cards</h4>
<%= link_to "Regulatory (3D Secure) test card numbers",
  "https://stripe.com/docs/testing#regulatory-cards",
  target: "_blank"
%>
<br>
<br>
<h4>Spreedly Test cards</h4>
<%= link_to "Test Data for Spreedly 3DS2 Gateway Specific",
  "https://docs.spreedly.com/guides/3dsecure2/#test-data-for-spreedly-3ds2-gateway-specific",
  target: "_blank"
%>
<br>
<br>

<%= form_for :purchase, url: "/purchase" do |f| %>
  <div class="row mb-3">
    <%= f.label :number, "Number", class: "col-form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :number, required: true, class: "form-control", maxlength: 16 %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :amount, "Amount in cents $", class: "col-form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.number_field :amount, required: true, class: "form-control" %>
    </div>
  </div>

  <%= hidden_field_tag :browser_info %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

<script>
  var browser_size = '04';
  var acceptHeader = 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'
  let browser_info = Spreedly.ThreeDS.serialize(
    browser_size,
    acceptHeader
  );

  document.getElementById('browser_info').value = browser_info
</script>
